body{
    background: #F7F7F7;
    -webkit-touch-action: manipulation;
    -moz-touch-action: manipulation;
    -ms-touch-action: manipulation;
    -o-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
input , select{
   outline: none;
}
/*蒙版*/
.mengban{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    display: none;
    z-index: 101;
}
/*退出*/
.quitCon ,.quitCon2{
    width:350px;
    height: 200px;
    background: #fff;
    position: fixed;
    left:50%;
    top:50%;
    z-index:102;
    margin-left: -175px;
    margin-top: -100px;
    display: none;
}
.quitCon p ,.quitCon2 p{
    text-align: center;
    font-size: 16px;
    color: #56585b;
    padding-top: 60px;
}
.btns{
    width:197px;
    margin:65px auto 0 auto;
    overflow: hidden;

}
.btns span{
    width: 88px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-right: 20px;
    background: #26B99A;
    display: block;
    float: left;
    cursor: pointer;
}
.btns .off{
    margin-right: 0;
}
.mainList{
    background: #fff;
    border: 1px solid #E6E9ED;
    padding: 20px 10px;
    margin-top: 20px;
}
/*隐藏*/
.none{
    display: none;
}
/*导航*/
.nav{
    width:100%;
    height: 50px;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    position: fixed;
    top: 0;
    z-index: 100;
}
.navLeft{
    float: left;
    line-height:60px;
    height:60px;
}
.navLeft img{
    width: 40px;
    height: 40px;
    margin: 5px 0 0 20px;
    float: left;
}
.navLeft span{
    font-size: 22px;
    float: left;
    line-height: 50px;
    padding-left: 10px;
}
.navRight{
    float: right;
}
.navRight dl{
    float: left;
    margin-right: 32px;
    cursor: pointer;
    padding: 0 10px;
}
.navRight dl dt{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    float: left;
}
.navRight dl dt img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navRight dl dd{
    float: left;
    margin-left: 10px;
    position: relative;
}
.navRight dl dd a {
    line-height: 50px;
    color: #56585b;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
.navRight .quit{
    display: block;
    float: left;
    font-size: 14px;
    line-height: 50px;
    font-weight: bold;
    color: #545454;
    margin-right: 24px;
    letter-spacing: 3px;
    cursor: pointer;
}
.loginName {
    min-width: 82px;
    background:#fff;
    position: absolute;
    top: 51px;
    border: 1px solid #E6E9ED;
    border-bottom: none;
    display: none;
}
.loginName li {
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    cursor: pointer;
     border-bottom: 1px solid #E6E9ED;
}
.loginName li:hover{
    background: #f5f5f5;
}
/*内容*/
.maincon{
	width:100%;
    position: absolute;
	top: 50px;
    bottom: 0;
}
/*左侧*/
.mainLeft{
	width: 230px;
    background: #2A3F54;
    position: fixed;
    left: 0;
    min-height: 100%;
    z-index: 99;
}
.mainLeft ul{
    width:100%;
    padding-top: 20px;
}
.mainLeft .child_menu{
   padding-top: 5px;
}
.mainLeft ul li{
    color: #E7E7E7;
    position: relative;
    cursor: pointer;
}
.mainLeft ul li a{
    color:#E7E7E7;
  /*  padding: 13px 15px 12px;*/
    text-decoration: none;
    height: 45px;
    line-height:45px;
    padding-left: 35px;
    display: block;
    position: relative;
}
.managementList:after{
    content: url(../images/icon.png);
    display: block;
    width: 17px;
    height: 13px;
    position: absolute;
    top: 1px;
    left: 11px;
}

.list .managementList span{
    background: url(../images/jtou.png) no-repeat;
    width:13px;
    height: 7px;
    position: absolute;
    right: 20px;
    top: 19px;
}
.child_menu{
    display: none;
}
.mainLeft ul li .child_menu li{
    height:35px;
    line-height: 40px;
    padding-left: 31px;
}
.mainLeft ul li .child_menu li:hover{
  background: #374A5E!important;
}
.mainLeft ul li .child_menu li a{
    height:35px;
    line-height: 39px;
    padding-left: 15px;
}
.child_menu li::before{
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}
.child_menu li::after{
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}
.shadow{
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.25) 0 1px 0,inset rgba(255,255,255,.16) 0 1px 0;
}
/*右侧*/
.mainRight{
    width:80%;
    padding: 10px 20px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left:230px;
    min-width: 1000px;
}
/*title*/
.top{
    font-size: 12px;
    font-weight: 600;
    padding-top:10px;
    position: relative;
}
.top span{
    color:#73879C;
}
.top .inventory{
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    background: #26B99A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.top em{
    margin: 0 10px;
    display: inline-block;
    font-size: 12px;
}
.top .qiDetail{
    color:#545454;
}
/*tab表格*/
.tab {
    padding-bottom: 20px;
}
.tab table {
    color: #73879C;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 10px;
}
.tab table thead th {
    font-size: 14px;
    background: #2A3F54;
    height: 43px;
    line-height: 43px;
    color: #fff;
}
.tab table th span{
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 5px;
}
.tab table th .up{
    position: absolute;
    top: -12px;
} 
.tab table th .down{
    position: absolute;
    bottom: -3px;
}
.tab table td {
    font-size: 12px;
    border-bottom: 1px solid #E6E9ED;
    vertical-align: middle;
    padding: 15px 5px;
    text-align: center
}
.tab table td span{
    cursor: pointer;
    color:#ff5a00;
}
.tab a{
    text-decoration: none;
    color:#73879C;
}
.tab td a{
    color:#337ab7;
    text-decoration: underline;
}
.tab .detail a{
    margin-right: 8px;
}
.tabnone{
    display: none;
}
/*添加弹框*/

.box {
    width: 693px;
    height: 507px;
    border: 1px solid #E6E9ED;
    position: fixed;
    top: 50%;
    left:50%;
    margin-left:-346.5px;
    margin-top:-253.5px;
    z-index: 102;
    background: #fff;
    display: none;
}
.hed {
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    border-bottom: 1px solid #E6E9ED;
}
.hed  img{
    width: 25px;
    height: 18px;
    float: left;
    position: relative;
    top: 12px;
    left: 10px;
}
.hed  span {
    font-size: 14px;
    color: #555;
    display: block;
    float: left;
}
.con {
    margin: 0 20px;
    overflow: hidden;
}
.con ul li {
    float: left;
    list-style: none;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}
.left5 {
    margin-left: 5px;
}
.left83 {
    margin-left: 83px;
}
.left169 {
    margin-left: 169px;
}
.left169.left140 {
    margin-left: 140px;
    color: #999;
    font-size: 12px;
    margin-top: 13px;
}
.man {
    float: left;
    width: 288px;
    height: 300px;
    border:1px solid #E6E9ED;
    margin-top: 10px;
}
.man li {
    list-style: none;
    float: left;
    height: 40px;
    line-height: 40px;
    background: #F2F2F2;
    color: #555;
    font-size: 14px;
    padding: 0px 15px;
    margin: 5px 0px;
    cursor: pointer;
}
.man li.default {
    margin-left: 7px;
}
.textar {
    float: right;
    margin-top: 10px;
    margin-left:20px;
}
.textar textarea {
    outline: none;
    border:1px solid #E6E9ED;
    width: 283px;
    height: 295px;
    padding:5px;
    color: #ccc;
    resize:none;
}
.btn {
    width: 160px;
    height: 39px;
    background: #ccc;
    margin: 45px auto 0;
    cursor: pointer;    
}
.btn span {
    display: block;
    font-size: 14px;
    line-height: 39px;
    background: #ff5a00;
    text-align: center;
    color: #fff;
}
/*翻页*/
.addman{
    padding: 10px 15px;
    background: #337ab7;
    color: #fff;
    display: block;
    float: left;
    border-radius: 5px;
    cursor: pointer;
}
.page {
   margin-top: 20px;
   height: 43px;
}
.all{
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
.all input{
    float: left;
    margin-top: 9px;
}
.pagesize{
    float: right;
    height: 32px;
    line-height: 32px;
}
.pagesize ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.pagesize ul .bgc span{
    background: #5bc0de;
    border: 1px solid #5bc0de;
    color: #fff;
}
.pagesize ul li span {
    font-size: 12px;
    color: #555;
    padding: 6px;
    border:1px solid #E6E9ED;
    border-radius: 5px;
    padding: 6px 10px;
    color: #73879C;
    position: relative;
}
.pagesize ul li span:hover{
    background: #5bc0de;
    border: 1px solid #5bc0de;
    color:#fff;
}
.pagesize ul li .bono {
    padding:0;
    border:none;
}
.pagesize ul li span img{
    position: absolute;
    top: 12px;
    right: 10px;
}
.pagesize ul li span em{
    font-style: normal;
}
.pagesize ul li span.lis {
    padding:6px 25px;
}
.pagesize ul li input {
    width: 48px;
    height: 27px;
    outline: none;
    border: 1px solid #E6E9ED;
    border-radius: 5px;
    text-align: center;
}
.pagesize .pageNumList{
    position: absolute;
    top: 33px;
    z-index: 999;
    border: 1px solid #E6E9ED;
    width: 89px;
    display: none;
}
.pagesize .pageNumList a{
    display: block;
    width: 100%;
    background: #fff;
    text-align: center;
    text-decoration: none;
}
.pagesize .pageNumList a:hover{
    background: #5bc0de;
    color:#fff;
}
/*信息*/
.enterprise {
    width: 96%;
    background: #fff;
    margin-top: 20px;
    border: 1px solid #E6E9ED;
    padding: 10px 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.enterprise dt {
    width: 120px;
    float: left;
}
.enterprise dt img{
    width:100%;
    height:100%;
    display: block;
}
.enterprise dd{
    margin-left: 15px;
    float: left;
}
.enterprise dd h2{
    font-size: 20px;
    line-height: 35px;
    color:#73879C;
}
.enterprise h4{
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 13px;
}
.enterprise .brand{
    font-size: 14px;
    line-height: 40px;
}
.enterprise p{
    font-size: 16px;
    line-height: 28px;
    color: #555;
}
.enterprise .iconT{
    width:20px;
    height:20px;
    display: inline-block;
    margin-right: 10px;
}
.enterprise img{
    width:100%;
    display: block;
}
.centermain {
    width: 97%;
    padding: 10px;
    background: #fff;
    border: 1px solid #E6E9ED;
   /* overflow: hidden;*/
}
.mainuls {
    height: 40px;
    position: relative;
    margin-top:15px; 
}
.enterprise .icon {
    font-size: 14px;
    line-height: 28px;
}
.enterprise .numbers {
    font-size: 14px;
    line-height: 50px;
}
.center {
    margin-top: 10px;
}
.mainuls{
    height:40px;
    position: relative;
}
.mainuls li{
    float: left;
    margin-right: 30px;
}
.mainuls input{
    outline: none;
    width: 105px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    border: 1px solid #E6E9ED;
    color: #73879C;
}
.mainuls li em{
    font-size: 12px;
    color: #fff;
    background: #337ab7;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-left: 20px;
    float: left;
}
/*耳标管理和PDA管理*/
.manage {
    width: 98.7%;
    height: 55px;
    border: 1px solid #E6E9ED;
    background: #fff;
}
.manage2 .earList{
    width: 24.8%;
}
.earList {
    float: left;
    width: 33%;
    height: 55px;
    text-align: center;
    border-right: 1px solid #E6E9ED;
}
.earList span {
    font-size: 14px;
    color: #555;
    padding-top: 12px;
    padding-bottom: 5px;
    display: block;
}
.earList em {
    font-style: normal;
    display: block;
    font-size: 14px;
    color: #555;
}
.earList1 {
    border-right:none;
}
.main2{
    margin-top: 20px;
}
/*添加设备*/
/*添加设备弹框*/
.equipmentAlet{
    position: fixed;
    top:50%;
    left:50%;
    z-index: 102;
    background: #fff;
    width: 360px;
    height:280px;
    margin-left: -180px;
    margin-top: -140px;
    display: none;
}
.addtitle{
    font-size: 16px;
    color:#73879C;
    text-align: center;
    line-height: 51px;
}
.addlist{
    margin-top: 6px;
}
.addlist li{
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    clear: both;
}
.addlist span{
    display: block;
    float: left;
    width: 105px;
    text-align: right;
}
.addlist select{
    float: left;
    outline: none;
    width: 170px;
    height: 30px;
    border: 1px solid #E6E9ED;
    color: #73879C;
}
.addlist input{
    float: left;
    height: 24px;
    line-height: 24px;
    border: 1px solid #E6E9ED;
    color: #73879C;
    width: 76px;
    padding-left: 5px;
}
.addlist em{
    float: left;
    font-size: 14px;
    color: #73879C;
    padding-left: 8px;
}
.addbtn{
    width: 180px;
    margin: 48px auto 0 auto;
    overflow: hidden;
}
.addbtn span{
    width: 80px;
    height: 28px;
    background: #ff5a00;
    color:#fff;
    display: block;
    float: left;
    text-align: center;
    line-height: 28px;
    margin-right: 20px;
    cursor: pointer;
}
.addbtn .affirm{
    margin-right:0;
}

/* 弹框 */
.Bombox12{
    display: none;
    text-align: center;
    width: 400px;
    /*height:200px;*/
    background: #fff;
    z-index: 120;
    position: fixed;
    left:50%;
    top:30%;
    margin-left: -180px;
    margin-top: -100px;
    padding:25px 0;
}
.Bombox12 p{
    margin-top: 20px;
    height: 30px
}
.Bombox12 p span{
    width: 70px;
    text-align: right;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 50px;

}
.Bombox12 p input{
    height: 28px;
    font-size: 12px;
    color: #555;
    border: 1px solid #E6E9ED;
    outline: none;
    padding-left: 10px;
    width: 140px;
    line-height: 28px;
    box-shadow: inset 0 0.5px 1px rgba(0,0,0,.075);
    float: left;
}
.baocun12 em{
    background: #337ab7;
    width:230px;
    height:35px;
    display: inline-block;
    line-height: 35px;
    color:#fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.Bombox12 #sendcode{
    background: #337ab7;
    width: 90px;
    height: 29px;
    display: inline-block;
    line-height: 29px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}